include LICENSE.txt
include *.txt
include libexec/ocid
include libexec/oci_vcn_iface.awk
include libexec/oci-image-cleanup
include libexec/oci-utils-config-helper
include libexec/oci-kvm-upgrade
include libexec/oci-kvm-config.sh
include libexec/secondary_vnic_all_configure.sh
include tests/*.py
include data/*.service
include data/oci-image-cleanup.conf
include data/00-oci-utils.conf
include data/10-oci-kvm.conf
include data/91-oci-kvm.preset
include data/91-oci-utils.preset
include buildrpm/*.spec
include man/man?/*.[158]
