include LICENSE.txt
include *.txt
include libexec/ocid
include libexec/oci-growfs
include libexec/oci_vcn_iface.awk
include libexec/oci-image-cleanup
include libexec/oci-utils-config-helper
include libexec/oci-kvm-upgrade
include libexec/oci-kvm-config.sh
include libexec/oci-kvm-network-script
include tests/*.py
include tests/data/*.cfg
include tests/data/tests/createattachdetachattachdetachdestroy/*.cfg
include tests/data/tests/test_cli_kvm/*.cfg
include tests/data/tests/test_cli_network_config/*.cfg
include tests/data/tests/test_cli_network_config_attach/*.cfg
include tests/data/tests/test_cli_network_config_configure/*.cfg
include tests/data/tests/test_exec_helpers/*.cfg
include tests/data/tests/test_exec_ocid/*.cfg
include tests/data/tests/test_iscsiadm/*.cfg
include tests/data/tests/test_network_helpers/*.cfg
include tests/data/tests/test_oci_notify/*.cfg
include data/*.service
include data/oci-image-cleanup.conf
include data/00-oci-utils.conf
include data/10-oci-kvm.conf
include data/91-oci-kvm.preset
include data/91-oci-utils.preset
include data/oci-image-cleanup.conf
include data/oci-migrate-conf.yaml
include tools/build_image/bin/*
include tools/build_image/scripts/*
include tools/build_image/templates/*
include tools/build_image/Makefile
include tools/build_image/README.md
include tools/*.py
include tools/execution/*
include buildrpm/*.spec
include man/man?/*.[158]
