[Unit]
Description=OCI KVM config
After=network-pre.target
Before=network.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/libexec/oci-kvm-config.sh

[Install]
WantedBy=default.target
