[Unit]
Description=Oracle Cloud Infrastructure utilities daemon
After=iscsid.service

[Service]
ExecStart=/usr/libexec/ocid --vf-net --service
Restart=always
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
RequiredBy=libvirtd.service
