[Unit]
Description=Oracle Cloud Infrastructure utilities daemon
After=iscsid.service

[Service]
Type=notify
ExecStart=/usr/libexec/ocid
PIDFile=/var/run/ocid.pid
Restart=always
StandardOutput=syslog
StandardError=syslog
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
